.mainContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 2730px;
      width: 100vw;
      height: 630px;
      margin-left: 10px;
      margin-right: 10px;
      align-items: center;
      justify-items: center;
      /* outline: 2px auto black; */
      background: rgb(255, 255, 255);
}

.content1 .content2 .content3 {
      justify-content: center;
      display: flex;
      outline: 1px auto black;
}

.content1 img,
.content2 img,
.content3 img {
      height: 200px;
      width: 400px;
      justify-items: center;
      align-items: center;
}
